* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

section {
    padding: 5vw;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

/** HEADER **/

header {
    position: relative;
}

#particles-js {
    background-color: #2271b3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.navbar {
    padding: 0.5vw 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo_ctn svg {
    width: 10vw;
}

.navbar .menu_ctn ul {
    display: flex;
    gap: 3vw;
    list-style: none;
}

.navbar .menu_ctn ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

.navbar .menu_ctn ul li a::before {
    position: absolute;
    content: "";
    bottom: -2%;
    left: 0;
    width: 0%;
    transition: all 0.4s;
    height: 2.5px;
    background-color: white;
}

.navbar .menu_ctn ul li a:hover::before {
    width: 100%;
}
