.banner_section {
    background-image: url("../images/jpg/home_backg.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: relative;
}

/* .banner_section::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.8) 25%,
        rgba(0, 0, 0, 0.5) 100%
    );
} */

.banner_section .banner_ctn {
    display: flex;
    gap: 4vw;
    height: 100%;
    z-index: 99;
    position: relative;
    flex-direction: column;
    color: white;
}

.banner_section .banner_ctn .title h1 {
    font-size: 4vw;
    text-shadow: 1px 1px 1px black;
    position: relative;
}

.banner_section .banner_ctn .title h1::before {
    position: absolute;
    content: "";
    width: 25%;
    height: 4px;
    background-color: #2271b3;
    bottom: -10%;
    left: 0;
    border-radius: 10px;
}

.banner_section .banner_ctn  .banner_text {
    width: 35vw;
}

/** Seccion preguntas frecuentes **/

.preguntas_frecuentes_section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.preguntas_frecuentes_section .title {
    position: relative;
}

.preguntas_frecuentes_section .title::before {
    position: absolute;
    width: 8vw;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -10%;
    height: 3px;
    background-color: #2271b3;
}

.preguntas_frecuentes_section .title h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    padding: 3vw;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: grid;
    grid-template-columns: 35% 1fr;
    justify-items: center;
    align-items: center;
    gap: 2vw;
}

.swiper-slide img {
    display: block;
    width: 15vw;
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}

.pregunta_ctn {
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.pregunta_ctn span {
    font-weight: 700;
}

/** Habilidades Section **/

.habilidades_section {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
}

.habilidades_section .title {
    position: relative;
    text-align: center;
}


.habilidades_section .title::before {
    position: absolute;
    width: 8vw;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -10%;
    height: 3px;
    background-color: #2271b3;
}

.habilidades_section ul {
    margin-left: 2%;
}

.habilidades_section h3 {
    font-weight: normal;
}

/** Seccion contacto **/

.contact_section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.contact_section .title {
    position: relative;
}

.contact_section .contact_ctn {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
}

.contact_section .title::before {
    position: absolute;
    width: 8vw;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -10%;
    height: 3px;
    background-color: #2271b3;
}

.contact_section .title h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
}

/* From Uiverse.io by alexruix */

.input-group {
    position: relative;
    width: 35vw;
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    width: 100%;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: gray;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input:focus ~ label,
input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ebedf0;
    padding: 0 0.2em;
    color: #2196f3;
}

.span_mostrar_pin {
    color: black;
    font-weight: 500;
}

/** Button style */

/* From Uiverse.io by abrahamcalsin */
.form_ctn .send_btn {
    position: relative;
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.form_ctn .send_btn:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.form_ctn .send_btn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.form_ctn .send_btn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.form_ctn .send_btn:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.error-message {
    font-size: 0.875em;
    margin-top: 0.25em;
    display: block;
    color: red;
}
