.page-administrator {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to bottom, #141e30, #243b55);
    height: 100vh;
}

.container {
    flex-direction: column !important;
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 5vw;
    align-items: center;

}

.container .ctn_admin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vw;
    align-items: flex-start;
}

.container .title {
    color: white;
    text-align: center;
}

.container .stats_btns_ctn {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-start;
    flex: 1;
}

.container .stats_btns_ctn .section {
    width: 100%;
    text-align: left;
}

.container .admin_btns_ctn {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-end;
    flex: 1;
}

.container .admin_btns_ctn .section {
    width: 100%;
    text-align: right;
}

.section {
    text-align: center;
    width: 45%;
}

.container .ctn_admin > .section {
    flex: 1.4;
    width: auto;
}

.section h2 {
    color: white;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.input-group {
    color: white;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(4, 217, 4);
}
