.caracterizacion_section{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.caracterizacion_section .encabezado_ctn {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: justify;
}

.caracterizacion_section .encabezado_ctn h3{
    font-weight: normal;
}

/** titulo que debe ir en italica */
.titulo_metacognicion {
    text-align: center;
    font-style: italic;

}

.caracterizacion_section .encabezado_ctn span{
    font-weight: 700;
}

.caracterizacion_section .pregunta_ctn table {
    width: 100%;
    border-collapse: collapse;
}

.metacognicionForm .pregunta_ctn table th,
td {
    padding: 2vw 1vw;
}

.metacognicionForm {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 100%;
}

.metacognicionForm .category_ctn {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.metacognicionForm .category_ctn .pregunta_ctn {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.metacognicionForm .send_btn {
    display: flex;
    justify-content: center !important;
    width: 30% !important;
    align-self: center !important;
}

/** modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

#cerrarModal {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}