.privacy-section {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.privacy-section .toggle-btn {
    background-color: #007bff;
    color: white;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.politica-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0;
    display: flex;
    border-radius: 5px ;
    flex-direction: column;
    gap: 1vw;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.politica-content ul {
    list-style-type: disc;
    padding-left: 20px !important;
    padding: 0;
}

.politica-content.open {
    max-height: 400px;
    padding: 10px;
    overflow-y: auto;
}

.toggle-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.checkbox-container {
    margin-top: 20px;
}

.file_upload_ctn {
    display:flex;
}