.report_section {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
}

.contexto-row {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.contexto-section {
    border: 1px solid rgb(179, 177, 177);
    padding: 1vw;
    border-radius: 1vw;
}

.card_ctn {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1vw;
    border-radius: 1vw;
}

.item-card {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.descriptor p {
    margin: 5px 0;
}

.btn_terminar {
    text-align: center;
    margin-top: 30px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/** Metacognicion y motivacion */

.metacognicion-motivacion-section {
    width: 100%;
    padding: 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border: 1px solid rgb(179, 177, 177);
}

.metacognicion-motivacion-section .title {
    text-align: center;
}

.datos-personales,
.datos-demograficos,
.habitos-personales,
.habitos-salud,
.calificacion-metacognicion {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.calificacion_ctn {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    border: 1px solid black;
    padding: 1vw;
    border-radius: 1vw;
}

.card_box {
    background-color: #f9f9f9;
}

.text_box {
    padding: 1vw;
}

h3 {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

p {
    margin: 5px 0;
}

.btn_terminar {
    text-align: center;
    margin-top: 30px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.conocimiento_procedimental {
    border: 1px solid #ccc;
    border-radius: 1vw;
    padding: 1vw;
}

.regulación_de_la_cognición {
    border: 1px solid #ccc;
    border-radius: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.pie_de_pagina_ctn{
    font-size: 1vw;
}

.pie_de_pagina_ctn span{
    font-weight: bold;
} 
